/* ------------------------------Team Page CSS-----------------------------------*/
		.text-block {
			position: absolute;
			text-align: center;
			color: black;
			font-family: Helvetica;
			font-weight: bolder;
			font-size: 50px;
		}

		.description{
			text-align: center;
			color:gray;
			font-family: Helvetica;	
			font-size: 18px;
		}

		.text-block-member {
			
			text-align: center;
			color: black;
			font-family: Helvetica;
			font-weight: bold;
			font-size: 30px;
			left:15%;
		}

		.bar {
			align: center;
			width: 15%;
			height: 5px;
			background:black;
			margin-top: 2%;
			padding-left: 15%;
			margin-left: 43%;
		}


		#memberimg:hover {
			filter: brightness(70%);
		}

		#memberimg {
			width: 100%;
			margin-top: 10%;
			padding-top:10%;
		}

		.padder {
			overflow: hidden;
			padding: 2%;
			
		}

		.padder:hover img {
			transform: scale(1.05);
		}

		.padder img {
			transition: 0.6s ease;
		}

		@media only screen and (max-width: 992px) {
			/* For tablets: */
			.text-block {
				font-size: 65px;
				width: 100%;
			}
			.text-block-member{
				font-size:40px;
			}
		}

		@media only screen and (max-width: 480px) {
			/* For phones: */
			.text-block {
				font-size: 55px;
			}

			.text-block-member{
				font-size:60px;
			}
		}
		/* ------------------------------Team Page CSS ENDS-----------------------------------*/